/* src/App.css */

/* Mengatur font, warna latar belakang, dan margin dasar untuk seluruh aplikasi */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* Warna latar belakang abu-abu muda */
  margin: 0;
}

/* Mengatur tinggi elemen-elemen utama agar mengisi seluruh viewport */
html, body, #root {
  height: 100%;
}

/* Mengatur font untuk heading */
h1, h2, h3, h4, h5, h6 {
  color: #333;
}

/* Mengatur warna link */
a {
  color: #3aba42;
  text-decoration: none;
}

/* Gaya dasar untuk tombol */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}