@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #3aba42;
    --color-primary-light: #52c761;
    --color-primary-dark: #2f8e38;

    --color-text-satu: #232D42;
    --color-text-dua: #8A92A6;
    --color-text-tiga: #ADB5BD;

    --color-bg-satu: #FFFFFF;
    --color-bg-dua: #F9ECEF;
    --color-bg-tiga: #E3E3E3;

    --font-heading: "Poppins", sans-serif;
    --font-body: "Inter", sans-serif;
  }
}

html, body, #root {
  height: 100%;
}